@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Poppins';
  src: url("/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url("/Poppins/Poppins-Medium.ttf") format("truetype"); 
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url("/Poppins/Poppins-MediumItalic.ttf") format("truetype"); 
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url("/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype"); 
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Patrick Hand';
  src: url("/Patrick_Hand/PatrickHand-Regular.ttf") format("truetype"); 
  font-weight: 300;
  font-style: normal;
}
h1 {
  font-family: 'Patrick Hand', cursive;
  font-size: 2.5rem;
  font-weight: 600;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}